<div class="row">
    <div class="col-lg-12 col-sm-12">
        <h1 class="page-header">Company Page</h1>
    </div>
</div>
<div class="row">
	<div class="col-sm-12">
		<div>
			<button class="btn btn-primary" ng-click='vm.modalAddNewCompany()'>
				Add Company
			</button>
		</div><hr />
		<div class="panel panel-default">
			<div class="panel-heading">
				Company Data Table
			</div>
			<div class="panel-body">
				<div class="dataTable_wrapper">
					<table class="table table-striped table-bordered table-hover" id"dataTables_company">
						<thead>
							<tr>
								<th>#</th>
								<th>Name</th>
								<th>Description</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="company in vm.companies">
								<td>{{$index+1}}</td>
								<td>{{company.name}}</td>
								<td>{{company.description}}</td>
								<td>
									<button class="btn btn-danger" ng-click="$parent.vm.removeConfirmCompany($index)">Remove</button>
									<button class="btn btn-warning" ng-click="$parent.vm.editCompany($index)">Edit</button>
									<button class="btn btn-primary" ng-click="$parent.vm.getEmployees(company._id)">Employees</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Modal -->
<div class="modal fade" id="frmCompany" role="dialog">
    <div class="modal-dialog">
      	<!-- Modal content-->
      	<div class="modal-content">
	        <div class="modal-header">
	          	<button type="button" class="close" data-dismiss="modal">&times;</button>
	          	<h4 class="modal-title">Company Form</h4>
	        </div>
	        <div class="modal-body">
	        	<div ng-show="vm.error" class="alert alert-danger" role="alert">{{vm.error}}</div>
	          	<form class="form-horizontal" role="form" ng-submit="vm.manageCompany()">
                  	<div class="form-group">
                    	<label  class="col-sm-2 control-label" for="inputName">Name</label>
                    	<div class="col-sm-10">
                        	<input type="text" class="form-control" ng-model="vm.companies[vm.selectedCompany].name" id="inputName" placeholder="Name of Company"/>
                    	</div>
                  	</div>
                  	<div class="form-group">
                    	<label class="col-sm-2 control-label" for="inputDescription" >Description</label>
                    	<div class="col-sm-10">
                        	<input type="text" class="form-control" ng-model="vm.companies[vm.selectedCompany].description" id="inputDescription" placeholder="Company Description"/>
                    	</div>
                  	</div>
                  	<div class="form-group">
                    	<div class="col-sm-offset-2 col-sm-10">
                      		<button type="submit" class="btn btn-primary">Submit</button>
                    	</div>
                  	</div>
                </form>
	        </div>
	        <div class="modal-footer">
	          	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        </div>
      	</div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Delete Company
            </div>
            <div class="modal-body">
	            <div ng-show="vm.error" class="alert alert-danger" role="alert">{{vm.error}}</div>
                Are you sure you want to delete <strong>{{vm.companies[vm.selectedCompany].name}}</strong>?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <a class="btn btn-danger btn-ok" ng-click="vm.removeCompany()">Delete</a>
            </div>
        </div>
    </div>
</div>